

.pg-table {
  .pg-table__header {
    >table {
      width: 100%;
      border-collapse: collapse;
      background-color: #fff;
      font-size: 14px;
      line-height: 1.5em;
      margin-bottom: 0 !important;
      table-layout: fixed;
      word-break:break-all;
      >colgroup {
        col {
        }
      }
      thead {
        .pg-table_column {
          text-align: left;
          white-space: nowrap;
          min-width: 0;
          font-weight: 400;
          box-sizing: border-box;
          padding: 6px 0;
          color: #909399;
          background-color: #eef1f6;
          .cell {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            word-wrap: normal;
            text-overflow: ellipsis;
            line-height: 30px;
            width: 100%;
            box-sizing: border-box;
            padding: 0 10px;
          }
        }
        th.gutter {
          width: 15px;
          padding: 0;
        }
      }
    }
  }
  .pg-table__body {
    >table {
      width: 100%;
      border-collapse: collapse;
      background-color: #fff;
      font-size: 14px;
      line-height: 1.5em;
      margin-bottom: 0 !important;
      table-layout: fixed;
      word-break:break-all;
      tbody {
        td {
          border-collapse: collapse;
          min-width: 0;
          box-sizing: border-box;
          padding: 5px 0;
          border-bottom: 1px solid #dcdfe6;
          color: #606266;
          font-size: 14px;
          line-height: 1.5em;
          .cell {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            word-wrap: normal;
            text-overflow: ellipsis;
            line-height: 30px;
            width: 100%;
            box-sizing: border-box;
            padding: 0 10px;
          }
        }
      }
    }
  }
  .pg-table__header-border {
    thead {
      th {
        border-bottom: 1px solid #dcdfe6;
        border-top: 1px solid #dcdfe6;
        &:first-child {
          border-left: 1px solid #dcdfe6;
        }
        &:last-child {
          border-right: 1px solid #dcdfe6;
        }
        border-right: 1px solid #dcdfe6;
      }
    }
  }
  .pg-table__body-border {
    tbody {
      td {
        &:first-child {
          border-left: 1px solid #dcdfe6;
        }
        &:last-child {
          border-right: 1px solid #dcdfe6;
        }
        border-right: 1px solid #dcdfe6;
      }
    }
  }
}