html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #F3F4F8;
}
#app, .pg-content {
  height: 100%;
}
ul {
  padding: 0;
  margin: 0;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.tapered-scroll::-webkit-scrollbar {
  width: 10px;
  height: 6px;
  background-color: #fff;
}
.tapered-scroll::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-image: linear-gradient(-180deg, #a3aaff 3%, #ade4ff);
}

.scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}
.scroll::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 4px;
}
